venv/Lib/site-packages/matplotlib.libs/msvcp140-8fe972c21762050da1adf4b84a93423e.dll
venv/Lib/site-packages/numpy.libs/libopenblas64__v0.3.23-293-gc2f4bdbb-gcc_10_3_0-2bde3a66a51006b2b53eb373ff767a3f.dll
venv/Lib/site-packages/numpy/core/_multiarray_tests.cp311-win_amd64.pyd
venv/Lib/site-packages/numpy/core/_multiarray_umath.cp311-win_amd64.pyd
venv/Lib/site-packages/numpy/fft/_pocketfft_internal.cp311-win_amd64.pyd
venv/Lib/site-packages/pandas.libs/msvcp140-fa0758dedafbbe194d3ee96e3dc2b9a3.dll
